
/* reset.css */
html, body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

 /* * {
    border: 1px solid blue
  } */

  a {
    text-decoration: none;
  }
 
  /* Header */
.nav-bar {
    background-color: black;
}

#odin-recipes-logo {
    color: white;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* Hero Section */

.hero-section {
    background-image: url(images/kitchen-hero.png);
    background-size: cover;
    height: 500px;
}

.hero-slogan {
    background-color: rgba(0, 0, 0, 0.2);
    color:aliceblue;
    font-size: 25pt;
    height: 500px;
    padding-top: 220px;
    padding-left: 155px;
    letter-spacing: 0.1em;
    box-sizing: border-box;
}

 /* Section 1 (1st Containter) */

.section-1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 100px 0 50px 0;
}

.featured-recipes {
    display: flex;
    padding: 0 30px 100px 30px;
  }

.featured-recipes div {
    flex: 1;
    height: 400px;
    margin: 0 30px;
    border-radius: 2%;
} 

.featured-recipes h2 {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 25pt;
    font-style: italic;
    font-family: Georgia, serif;
    font-weight: 100;
    height: 400px;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
} 

.recipe-one {
    background-image: url('images/pexels-alleksana-5949885.jpg');
    background-size: cover;
  }

.recipe-two {
    background-image: url('images/butter-chicken.jpeg');
    background-size: 100% auto;
    background-position: 0 50%;
  }

.recipe-three {
    background-image: url('images/lamb-lentil-soup.png');
    background-size: 100% auto;
    background-position: 10% 25%;
  }

  footer {
    background-color: black;
    color: white;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }