
/* reset.css */
html, body, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
.nav-bar {
    background-color: black;
}

#odin-recipes-logo {
    color: white;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    text-decoration: none;
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    /* Optionally, you can set the container's height and width */
    /* height: 100vh; */
    /* width: 100%; */
}

.hero-img {
    background-image: url(images/kitchen-hero.png);
    background-size: cover;
    height: 500px;
}

.hero-slogan {
    background-color: rgba(0, 0, 0, 0.2);
    color:aliceblue;
    height: 500px;
    font-size: 25pt;
    padding-top: 220px;
    padding-left: 155px;
    letter-spacing: 0.1em;
}

h1 {
    display: block;
    background-color: aqua;
}

.featured-recipes {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
  }

.recipe-one,
.recipe-two,
.recipe-three {
    display: inline-block;
    width: 27%;
    height: 300px;
    margin: 30px;
    border-radius: 2%;
} 

.recipe-one {
    background-image: url('images/pexels-alleksana-5949885.jpg');
    background-size: cover;
  }

.recipe-two {
    background-image: url('images/butter-chicken.jpeg');
    background-size: 100% auto;
    background-position: 0 50%;
  }

.recipe-three {
    background-image: url('images/lamb-lentil-soup.png');
    background-size: 100% auto;
    background-position: 10% 25%;
  }

  footer {
    background-color: black;
    color: white;
    height: 125px;
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    /* Optionally, you can set the container's height and width */
    /* height: 100vh; */
    /* width: 100%; */
  }